<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="[Your Connection String]"/>
  </connectionStrings>
  <appSettings>
    <add key="InsightlyUrl" value="https://api.insight.ly/v1/"/>
    <add key="InsightlyApiKey" value="[Your API Key]"/>
    <add key="ToDownload" value="contacts,organisations,opportunities,relationships,projects"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

<!--

Other object values for the ToDownload setting:

"contacts",
"organisations",
"tasks",
"tags/contacts",
"tags/opportunities",
"tags/organisations",
"tags/projects",
"tags/emails",
"opportunities",
"projects",
"emails",
//"events",
"notes",
"teams",
"pipelines",
"users",
"countries",
"currencies",
"relationships",
"pipelinestages",
"customfields"

-->